---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Our Features
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/features">AI CV Analysis</a>
        </li>
        <li class="submenu-item">
          <a href="/features">Skill Matching</a>
        </li>
        <li class="submenu-item">
          <a href="/features">Bulk Processing</a>
        </li>
        <li class="submenu-item">
          <a href="/features">GDPR Compliance</a>
        </li>
        <li class="submenu-item">
          <a href="/features">Smart Ranking</a>
        </li>
        <li class="submenu-item">
          <a href="/accessibility-statement">Accessibility</a>
        </li>
      </ul>
    </li>
    <li class="menu-item highlight">
      <a href="/login">Login</a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
        <Icon name="lucide:linkedin" />
        <span class="sr-only">Follow us on LinkedIn</span>
      </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
